## Data Cleaning using Python with Pandas Library

### Importing the required libraries.

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_96cdb00fd8744621bc14bdb44e7eddd3 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_96cdb00fd8744621bc14bdb44e7eddd3 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_96cdb00fd8744621bc14bdb44e7eddd3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='V9A4j0hTqI-kd5pwuCOvc7_KJM-0Nu9tix-iNxH2xLt1',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_96cdb00fd8744621bc14bdb44e7eddd3)

body = client_96cdb00fd8744621bc14bdb44e7eddd3.get_object(Bucket='peergradedassignmentproject-donotdelete-pr-suptnqi9m0jxyi',Key='heart.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
import numpy as np

###  Removing the unused or irrelevant columns

In [3]:
df_data_1 = df_data_1.drop(['cp', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'], axis = 1)
df_data_1.head()

   age  sex  trestbps  chol
0   63    1       145   233
1   37    1       130   250
2   41    0       130   204
3   56    1       120   236
4   57    0       120   354

### Renaming the column names to your choice name.

In [5]:
df_data_1 = df_data_1.rename(columns = {'age':'Age', 'sex':'Sex', 'trestbps':'Bp', 'chol':'Cholera'})
df_data_1.head()

   Age  Sex   Bp  Cholera
0   63    1  145      233
1   37    1  130      250
2   41    0  130      204
3   56    1  120      236
4   57    0  120      354

### Replacing the value of the rows if necessary.
let '1' = M (for Male), and '0' = F (for Female)

In [6]:
replace_values = {1:'M', 0:'F'}
df_data_1 = df_data_1.replace({'Sex':replace_values})
df_data_1.head()

   Age Sex   Bp  Cholera
0   63   M  145      233
1   37   M  130      250
2   41   F  130      204
3   56   M  120      236
4   57   F  120      354